#navbar {
  width: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #2C363F; }
  #navbar #navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #navbar ul {
    list-style: none; }
    #navbar ul li {
      display: inline;
      margin-right: 20px; }
      #navbar ul li:hover {
        border-bottom: solid #266dd3; }
  #navbar a {
    text-decoration: none;
    color: #EAEAEA; }

#home-container {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

#home-title {
  width: 100%;
  color: #EAEAEA;
  font-size: 50px; }

#text {
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0;
  padding: 0; }

.add-input {
  height: 40px;
  padding-left: 10px;
  border: 2px solid #2C363F;
  box-sizing: border-box; }

#stock-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }

#stock-symbol {
  text-transform: uppercase; }

#stock-table {
  background-color: #2C363F;
  width: 80%;
  border-collapse: collapse;
  margin: 50px 0;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  color: #fff;
  transform: translateZ(0);
  transition: all 0.2s ease;
  top: -10px;
  box-shadow: 0px 10px 10px rgba(19, 196, 163, 0.4);
  margin-top: 50px;
  transform: rotateX(20deg); }
  #stock-table th {
    padding: 10px 0 10px 10px;
    text-align: left; }
  #stock-table td {
    border-top: 1px solid #266dd3;
    border-bottom: 1px solid #266dd3;
    height: 30px;
    padding-left: 10px; }
  #stock-table a {
    color: #FB3640; }

#refresh {
  width: 150px;
  border: none;
  white-space: normal;
  word-wrap: break-word;
  border-width: 2px;
  border-style: outset; }

#input {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.loader {
  text-align: center;
  padding: 0 0 1em 0;
  display: none;
  vertical-align: top; }

svg path,
svg rect {
  fill: #FF6700; }

.header {
  width: 100%; }

#main {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#main img {
  max-height: 200px; }

@keyframes giggle {
  25% {
    transform: scale(0.9, 1.1); }
  50% {
    transform: scale(1.1, 0.9); }
  75% {
    transform: scale(0.95, 1.05); }
  from, to {
    transform: scale(1, 1); }
  25% {
    transform: scale(0.9, 1.1); }
  50% {
    transform: scale(1.1, 0.9); }
  75% {
    transform: scale(0.95, 1.05); } }
body {
  background: linear-gradient(to bottom, #1cb5e0 0%, #000851 100%);
  color: #EAEAEA;
  padding: 0;
  margin: 0; }
  body a {
    text-decoration: none;
    color: #A65DC1; }

#wrapper {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px; }

button, .button, #refresh, input[type=submit] {
  color: #2C363F;
  background-color: #F9DC5C;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  outline: none;
  min-width: 100px; }
  button:hover, button:focus, .button:hover, .button:focus, #refresh:hover, #refresh:focus, input[type=submit]:hover, input[type=submit]:focus {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: giggle 0.5s 1; }

/*# sourceMappingURL=index.css.map */
