@{
    ViewBag.Title = "About";
}
<div id="about">
    <h2 class="header">Financial Webscraper Specs</h2>
</div>

<div id="aboutBody">
    <h3>Summary</h3>
    <p>
        Using this App, the users should be able to register then log in.  Users will be able to add stocks to their portfolio.
        They may be able to synchonize stocks information with their Yahoo account.

    </p>
    <h3>Core Technology</h3>
    <p>
        This application relies on ASP.net and Entity framework core, which takes advantage of C# and SQL server.  In order to retrieve
        the financial data, this application uses HTML Agility package and the Selenium.
    </p>
</div>