@{
                ViewBag.Title = "Contact";
}
<div id="contact">
    <div id="main">
        <h2>Jamal Dawson</h2>
        <img src="~/Content/meandbro.jpg" alt="Me and Jared" />
        <h6>Me(right)</h6>
     </div>
    <div id="links">
        <strong>website:</strong>   <a href="http://jamal-design.com/">Jamal-Desgin</a>
        <strong>Github Repository:</strong><a href="https://github.com/Noswad123/webscraper">Financial Webscraper</a>
    </div>
    </div>