@{
    ViewBag.Title = "Home Page";
}


<div id="home-container">
    <div id="home-title">Welcome</div>
    <div id="text">
        In order to use, this app you must login.  Once logged in, you will find a list of yahoo stocks
        and other stocks you would like to keep track of.  To add new stocks individually to your portfolio use the input field
        on the stock page.  This functionality takes advantage of HTML Agility Pack's ability to navigate to a page and extract
        the desired data.  The refresh button to the right of the Stocks page will only refresh stocks found on your yahoo account.
    </div>
</div>